{% extends "layout-admin.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock head %}

{% block content %}
  <main>
    <section class="user">
      <form action="/admin/users/register" method="post">
        <div class="form__header">
          <h2 class="form__title">Criar Usuário</h2>

          <div class="form__options">
            <button type="submit" class="form__save">Salvar</button>

            <button class="form__cancel">Cancelar</button>
          </div>
        </div>

        <div class="form__content">
          {% include "./fields.njk" %}
        </div>
      </form>
    </section>
  </main>
{% endblock content %}