{% extends "layout-admin.njk" %}

{% block content %}
  <main>

    <h2 class="title">Gerenciar usuários</h2>

    <section class="recipes__content page-admin">
      Users
    </section>

    <a href="/admin/users/create" class="recipe__link--add">
      <div>+</div>
      Novo usuário
    </a>

  </main>
{% endblock content %}