{% extends "layout.njk" %}

{% block content %}
  <main class="recipes page-recipes">
    <section class="recipes__content">
      {% for recipe in recipes %}
        <a class="recipe__link--hidden" href="/recipes/{{recipe.id}}">
          <div class="recipe">
            <div class="recipe__image">
              <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"/>
            </div>
            <h3>{{recipe.title}}</h3>
            <p>{{recipe.author}}</p>
          </div>
        </a>
      {% endfor %}
    </section>
  </main>
{% endblock content %}