/* Reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Global */

body {
  color: #111111;

  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  min-height: calc(100vh - 62px);
}

header {
  width: 60vw;
  
  display: flex;
  align-items: center;

  position: relative;

  margin: 0 auto;
  padding: 30px 0;
}

header img {
  margin-right: 122.4px;
}

header nav a {
  margin-right: 30px;

  color: #111111;

  font-size: 16px;
  text-decoration: none;
}

main {
  width: 60vw;

  margin: 0 auto;
}

footer {
  width: 100%;
  height: 62px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #eeeeee;
}

footer p {
  color: #999999;

  font-size: 14px;
}

/* Home page */

.presentation {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-bottom: 50px;
  border-radius: 30px;

  background: #fbdfdb;
}

.presentation__infos {
  width: 36%;

  align-self: center;

  margin-left: 60px;
}

.presentation__infos h1 {
  margin-bottom: 10px;

  font-size: 32px;
}

.presentation__infos p {
  color: #000000;
  opacity: 0.7;

  font-size: 18px;
  line-height: 28px;
}

.presentation img {
  padding: 66px 100px 0 0;
}

.recipes h2 {
  margin-bottom: 20px;

  color: #111111;

  font-size: 24px;
}

.recipes .recipes__content {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  column-gap: 20px;

  margin-bottom: 50px;
}

.recipe {
  cursor: pointer;
}

.recipe__image {
  margin-bottom: 20px;
}

.recipe__image img {
  width: 100%;

  border-radius: 15px;
}

.recipe h3,
.recipe__item h3 {
  margin-bottom: 5px;

  color: #111111;

  font-size: 18px;
}

.recipe p,
.recipe__item p {
  color: #777777;

  font-size: 14px;
}

.recipe__link--hidden {
  text-decoration: none;
}

/* About */

.about h1 {
  margin: 20px 0;

  color: #111111;

  font-size: 24px;
}

.about p,
.start p,
.our-recipes p {
  margin-bottom: 20px;

  color: #444444;

  font-size: 18px;
  line-height: 28px;
  text-align: justify;
}

.about p:last-child,
.start p:last-child {
  margin-bottom: 0;
}

.start h2,
.our-recipes h2 {
  margin: 30px 0 20px 0;

  color: #111111;

  font-size: 20px;
}

/* Recipes */

.page-recipes {
  margin-top: 20px;
}

/* Detail */

.detail {
  margin-top: 20px;
}

.detail__image {
  margin-bottom: 50px;
  width: 100%;
}

.detail__image img {
  border-radius: 15px;
  width: 100%;
}

.detail h2 {
  margin-bottom: 4px;

  color: #111111;
  
  font-size: 36px;
  text-align: center;
}

.detail p {
  color: #777777;
  
  font-size: 20px;
  text-align: center;
}

.ingredients {
  margin: 50px 0 39px;
}

.ingredients__header {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.ingredients__header span,
.preparation__header span,
.information__header span {
  cursor: pointer;
}

.ingredients__header h3,
.preparation__header h3,
.information__header h3  {
  color: #111111;

  font-size: 24px;
}

.ingredients__list,
.preparation__list {
  height: 0;

  visibility: hidden;
  opacity: 0;

  overflow: hidden;

  transition: all 0.5s;
}

.accordion {
  height: 100%;

  visibility: visible;
  opacity: 1;
}

.ingredients ul,
.preparation ul {
  padding-left: 24px;
  
  color: #444444;

  font-size: 18px;
  line-height: 28px;
}

.preparation {
  margin-bottom: 47px;
}

.preparation__header,
.information__header {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.information {
  margin-bottom: 50px;
}

.information p {
  color: #444444;
  
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  white-space: pre-line;
}

.hidden {
  display: none;
}

/* Layout Admin */

.header.page-admin {
  width: 100%;

  margin-bottom: 50px;

  background: #111111;
}

.header__content {
  width: 60vw;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
}

.header__link {
  color: #eeeeee;

  text-decoration: none;
}

/* Index */

.title {
  margin-bottom: 30px;
}

.recipes__content.page-admin,
.chefs__content.page-admin {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  
  margin-bottom: 50px;
}

.recipe__item.page-admin {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

.recipe__image.page-admin {
  display: flex;
  align-items: center;
}

.recipe__image.page-admin img {
  border-radius: 8.57px;
}

.recipe__link,
.chef__link {
  box-sizing: border-box;

  color: #6558c3;
  
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
}

.recipe__link--add,
.chef__link--add {
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 12px 0;
  border-radius: 8.57px;

  background: #6558c3;
  color: #eeeeee;

  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

.recipe__link--add:hover,
.chef__link--add:hover {
  background: transparent;
  color: #6558c3;
}

.recipe__link--add div,
.chef__link--add div {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 16px;
  border-radius: 50%;
  
  background: #ffffff3d;
}

/* Create */

.form {
  margin-top: 20px;
}

.form__header,
.detail__header  {
  width: 100%;

  display: flex;
  justify-content: space-between;

  margin-bottom: 30px;
}

.form__save,
.detail__edit,
.form__delete {
  padding: 9px 20px;
  border-radius: 4px;

  background: #6558c3;
  color: #ffffff;
  
  
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.form__header h3,
.detail__header h3 {
  color: #111111;

  font-size: 24px;
}

.form__item {
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
}

.form__item label {
  margin-bottom: 10px;

  color: #111111;

  font-size: 16px;
  font-weight: bold;
}

.form__item input,
.form__item textarea {
  height: 48px;

  background: #ffffff;

  padding: 0 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  
  font-size: 16px;

  outline: none;
}

.form__item textarea {
  min-height: 96px;

  padding: 16px;

  resize: vertical;
}

.form__input--ingredient,
.form__input--preparation {
  margin-top: 10px;
}

.form__input--ingredient input,
.form__input--preparation  input {
  width: 100%;
}

.form__button--add {
  width: fit-content;

  margin-top: 15px;

  background: transparent;
  color: #6558c3;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
}

.form__item select {
  height: 48px;

  padding: 0 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  
  font-size: 16px;

  outline: none;

  /* permitir estilização no select */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* trazer de volta o ícone lateral */
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

/* Detail admin */

.detail__options {
  display: flex;
}

.form__delete {
  margin-right: 16px;

  background: #dc4747;
}

.detail__edit:hover {
  opacity: 0.6;
}

/* Photos upload */

form .form__item .photos__container {
  display: flex;
}

form .form__item #photos__upload {
  width: 200px;

  display: block;

  position: relative;

  overflow: hidden;
}

form .form__item #photos__upload input {
  width: 100%;
  height: 100%;

  display: block;

  position: absolute;
  top: 0;
  left: 0;

  padding: 0;

  overflow: hidden;

  opacity: 0;

  cursor: pointer;
}

form .form__item .photos__add {
  width: 150px;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;

  border: 1px solid #dddddd;
  border-radius: 3.5px;
}

form .form__item .photos__add i {
  color: #6558c3;

  font-size: 28px;
}

form .form__item #photos__preview {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  margin: 0;
}

form .form__item #photos__preview img {
  width: 100%;
  height: 150px;

  border-radius: 4px;

  object-fit: cover;
}

form .form__item #photos__preview .photo {
  position: relative;
}

form .form__item #photos__preview .photo i {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255, 255, 255, 0.5);
  color: #e93737;

  font-size: 28px;

  cursor: pointer;

  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

form .form__item #photos__preview .photo:hover i {
  opacity: 1;
}

/* Chefs */

.chefs {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;

  margin-top: 16px;
}

.chef {
  display: flex;
  align-items: center;
}

.chef__avatar {
  width: 64px;
  height: 64px;

  margin-right: 20px;
}

.chef__avatar img {
  width: 100%;
  height: 100%;

  border-radius: 50%;
}

.chef__name {
  margin-bottom: 6px;

  color: #111111;

  font-size: 18px;
  font-weight: normal;
  
}

.chef__recipes {
  color: #666666;

  font-size: 14px;
  font-weight: normal;
}

.detail__image-chef {
  width: 240px;

  margin: 50px auto;
}

.detail__image-chef img {
  width: 100%;
  
  border-radius: 50%;
}

/* Search */

.searchbar {
  position: absolute;
  right: 0;
}

.searchbar input {
  width: 246px;
  height: 37px;

  margin-right: 8px;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;

  color: #999999;

  font-size: 14px;

  outline: none;
}

.searchbar button {
  width: 91px;
  height: 37px;

  border-radius: 4px;
  border: none;

  background: #6558c3;
  color: #ffffff;

  font-size: 16px;

  cursor: pointer;
}

/* Gallery */

.gallery {
  width: 100%;
}

.gallery__highlight > img {
  width: 100%;
  height: 280px;

  border-radius: 15px;

  cursor: pointer;
}

.gallery__preview {
  display: flex;
  justify-content: flex-end;

  margin-top: 4px;
}

.gallery__preview img {
  width: 50px;
  height: 50px;

  margin-left: 10px;
  border-radius: 4px;

  object-fit: cover;

  opacity: 0.6;

  cursor: pointer;

  transition: 0.2s;
}

.gallery__preview img:hover,
.gallery__preview img.active {
  opacity: 1;
}

/* Lightbox */

.lightbox {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: -100%;
  left: 0;
  z-index: 100;

  background: rgba(0, 0, 0, 0.7);

  opacity: 0;

  overflow: hidden;

  transition: opacity 0.4s;
}

.lightbox img {
  width: 90%;
  height: 90%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  border-radius: 15px;

  background: #ffffff;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);

  object-fit: contain;
}

.lightbox__button--close {
  position: absolute;
  z-index: 101;
  right: 6%;
  top: 7%;

  color: #111111;
}