{% extends "layout.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock head %}

{% block content %}
  <main>
    <section class="detail">
      <div class="gallery">
        <div class="gallery__highlight">
          {% if not files[0] %}
            <img src="http://placehold.it/500x500?text=Receita sem foto" alt="Imagem de {{files[0].name}}"/>
          {% else %}
            <img src="{{files[0].src}}" alt="Imagem de {{files[0].name}}" onclick="Lightbox.open()"/>
          {% endif %}

          <div class="lightbox">
            <a href="#" class="lightbox__button--close" onclick="Lightbox.close()">
              <i class="material-icons">
                close
              </i>
            </a>
            <img src="{{files[0].src}}" alt="Imagem de {{files[0].name}}"/>
          </div>
        </div>

        <div class="gallery__preview">
          {% for image in files %}
            <img 
              src="{{image.src}}" 
              alt="Imagem de {{image.name}}"
              {% if loop.index0 == 0 %}
                class="active"
              {% endif %}
              onclick="ImageGallery.setImage(event)"
            />
          {% endfor %}
        </div>
      </div>

      <h2>{{recipe.title}}</h2>

      <p>por {{chef.name}}</p>

      <div class="ingredients">
        <div class="ingredients__header">
          <h3>Ingredientes</h3>

          <span class="material-icons" id="ingredientsAccordion">
            arrow_drop_up
          </span>
        </div>

        <ul class="ingredients__list accordion">
          {% for item in recipe.ingredients %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="preparation">
        <div class="preparation__header">
          <h3>Modo de preparo</h3>

          <span class="material-icons" id="preparationAccordion">
            arrow_drop_up
          </span>
        </div>

        <ul class="preparation__list accordion">
          {% for item in recipe.preparation %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
      </div>

      {% if recipe.information !== "" %}
        <div class="information">
          <div class="information__header">
            <h3>Informações adicionais</h3>

            <span class="material-icons" id="informationAccordion">
              arrow_drop_up
            </span>
          </div>

          <p >{{recipe.information}}</p>
        </div>
      {% endif %}
    </section>
  </main>
{% endblock content %}