.searchbar {
  position: absolute;
  right: 0;
}

.searchbar input {
  width: 246px;
  height: 37px;

  margin-right: 8px;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;

  color: #999999;

  font-size: 14px;

  outline: none;
}

.searchbar button {
  width: 91px;
  height: 37px;

  border-radius: 4px;
  border: none;

  background: #6558c3;
  color: #ffffff;

  font-size: 16px;

  cursor: pointer;
}