<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include "parts/styles.njk" %}
    
    <title>Foodfy</title>
  </head>
  <body>
    {% include "parts/messages.njk" %}

    <div class="container">
      <header class="header page-admin">
        <div class="header__content">
          <a href="/">
            <img src="/assets/logo2.png" alt="Logo Foodfy"/>
          </a>

          <nav>
            <a href="/admin/recipes" class="header__link">Gerenciar receitas</a>
            <a href="/admin/chefs" class="header__link">Gerenciar chefs</a>
          </nav>
        </div>

      </header>

      {% block content %}{% endblock content %}

    </div>

  </body>

  <script src="/scripts.js"></script>
</html>